ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  li{
    float: right;
  }
  li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
    background-color: black;
    color: aquamarine;
  }
  
html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto",sans-serif;
}
.Avatar{
    width: 90%;
}
.w3-container1{
    width:40%
}
.w3-container2{
    width: 20%;
}
.w3-container3{
    width:15%;
}
.w3-container4{
    width:50%;
}
.w3-round-xlarge1{
    height:24px;
    width:100%
}
.w3-round-xlarge2{
    height:24px;
    width:50%
}