body{
    margin: 1%;
    background: url(./background.avif) no-repeat center fixed;
    background-size: cover;
}
* {
    box-sizing: border-box;
  }
  .head {
    font-family:Verdana;
    color:aquamarine;
    background-color:grey;
    padding:15px;
    text-align:center;
  }
  
  .menu  {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: grey;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: aquamarine;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: grey;
    color: aquamarine;
    float: right;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  .footer{
    background-color:grey;
    color: aquamarine;
    text-align:center;
    padding:10px;
    margin-top:7px;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right, .head, .footer {
      width: 100%;
    }
  }